<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id%>

  <div class="field">
    <%= form.label :forum_id %>
    <%= form.text_field :forum_id, id: :post_forum_id %>
  </div>

  <div class="field">
    <%= form.label :votes_plus %>
    <%= form.number_field :votes_plus, id: :post_votes_plus %>
  </div>

  <div class="field">
    <%= form.label :votes_minus %>
    <%= form.number_field :votes_minus, id: :post_votes_minus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
