<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Votes plus:</strong>
  <%= @post.votes_plus %>
</p>

<p>
  <strong>Votes minus:</strong>
  <%= @post.votes_minus %>
</p>

<%= link_to "Comentar", new_comment_path(:post_id => @post.id)%> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', '/' %>

<table>
  <thead>
    <tr>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <% if comment.post_id == @post.id %>
          <td><%= comment.body %></td>
          <% if user_signed_in? && current_user.administrator? %>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
