<!DOCTYPE html>
<html>
  <head>
    <title>Kuora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div id="navbar">
        <div id="logo">
          <!-- acá poni tu logo -->
        </div>
        <% if user_signed_in? %>
          <div id="nav_elements">
            <div>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </div>
            <div>
              <%= current_user.email %>
            </div>
            <div>
              <%= current_user.name %>
            </div>
            <div>
              <%= link_to "Edit Account", edit_user_registration_path%>
            </div>
            <div>
              <%= link_to "Crear publicacion", new_post_path%>
            </div>


          <% else %>
            <div>
              <%= link_to "Sign In", new_user_session_path  %>
            </div>
            <div>
              <%= link_to "Sign Up", new_user_registration_path  %>
            </div>
          <% end %>
        </div>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
